/*--------------------ai-warning----------------------------*/
* {
    -webkit-user-select: none;
}

body {
    margin: 0px;
}

p {
    margin-top: 3px;
}

#ai-warning {
    width: 300px;
    height: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
}

#ai-warning header {
    width: 268px;
    height: 38px;
    background: url(../img/titlebar.png) no-repeat 0 0;
    background-size: 300px 38px;
    vertical-align: middle;
    line-height: 15px;
    padding: 0 16px;
}

#ai-warning header h2 {
    display: inline-block;
    font-size: 14px;
    color: rgba(204, 204, 204, 10);
}

#ai-warning header img {
    width: 18px;
    height: 16px;
    float: right;
    margin-top: 11px;
}

.ai-warning-content {
    width: 268px;
    height: 80px;
    background: url(../img/content.png) no-repeat 0 0;
    background-size: 300px 112px;
    padding: 12px 16px 20px 16px;
}

.ai-warning-content p {
    font-size: 12px;
    color: rgba(170, 170, 170, 10);
}

.button-group button {
    width: 64px;
    height: 24px;
    border-radius: 12px;
    border: 0;
    border: 1px solid rgba(138, 138, 138, 10);
    color: rgba(138, 138, 138, 10);
    font-size: 12px;
    background: none;
    margin: 0;
    padding: 0;
    margin-left: 23px;
    margin-top: 30px;
    outline: none;
}

#detail {
    margin-left: 11px;
}

.button-group button:hover {
    border: 1px solid rgba(223, 223, 224, 10);
    color: rgba(223, 223, 224, 10);
}

/*--------------------right-hand----------------------------*/
#right-hand ul {
    width: 84px;
    height: 103px;
    margin: 5px;
    background: url(../img/background.png) no-repeat 0 0;
    background-size: 84px 110px;
    padding-top: 7px;
    position: relative;
}

#right-hand ul li {
    width: 84px;
    height: 24px;
    margin: 0;
    padding: 0;
}

#right-hand ul li a {
    width: 84px;
    height: 24px;
    margin: 0;
    padding: 0;
    position: relative;
}

#right-hand ul li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 6px;
    background: #373737;
}

#right-hand ul p {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: rgba(170, 170, 170, 10);
    position: absolute;
    top: 0;
    background: #545454;
}

#right-hand ul #history span {
    background: url(../img/history.png) no-repeat center;
    background-size: 12px 12px;
}

#right-hand ul #hide span {
    background: url(../img/min.png) no-repeat center;
    background-size: 12px 12px;
}

#right-hand ul #quit span {
    background: url(../img/exit.png) no-repeat center;
    background-size: 12px 12px;
}

#right-hand ul #about span {
    background: url(../img/about.png) no-repeat center;
    background-size: 12px 12px;
}

#zw1 {
    width: 60px;
    height: 7px;
    position: absolute;
    top: 0;
    right: 0;
    background: #545454;
}

#zw2 {
    width: 60px;
    height: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #545454;
}
