.item {
    -fx-alignment: center-left;
    -fx-spacing: 5px;
    -fx-pref-width: 70px;
}

.label {

    -fx-start-margin: 5px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 12px;
}
