
.menu-item {
    -fx-pref-width: 84px;
}

.menu-item:focused {

}

.image-container-min {
    -fx-background-image: url(/img/min.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    /*-fx-border-color: brown;*/
    -fx-padding: 5px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.image-container-report {
    -fx-background-image: url(/img/report.png);
    -fx-background-size: 12px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    /*-fx-border-color: brown;*/
    -fx-padding: 5px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.image-container-history {
    -fx-background-image: url(/img/history.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    /*-fx-border-color: aqua;*/
    -fx-padding: 12px 5px 5px 5px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.image-container-exit {
    -fx-background-image: url(/img/exit.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    /* -fx-border-color: aqua;*/
    -fx-padding: 1px 5px 12px 5px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.label {
    /*-fx-border-color: aqua;*/
    -fx-background-color: #545454;
    -fx-pref-height: 24px;
    -fx-pref-width: 60px;
    -fx-start-margin: 5px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: rgba(170, 170, 170, 10);
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.label:hover {
    -fx-text-fill: aliceblue;
}

.label-top {
    /* -fx-border-color: darkgoldenrod;*/
    -fx-padding: 7px 0px 5px 0px;
}

.label-bottom {
    -fx-padding: 4px 0px 7px 0px;
}